/* Will start to phase out custom.css, please put additional stylings in site.css */

.nav-tabs {
    margin-right: 0;
}

#login > input {
    width: 40%;
}

#white {
    color: white;
}

#tabs {
    margin-right: 0;
    margin-bottom: 0;
}

#content-container {
    border: 1px solid #DDD;
    border-left: 0;
    margin: 0;
    background-color: white;
}

#content {
	padding: 10px;
}

#announcement {
	margin-bottom: 0;
}

.avatar {
    margin-right: 0;
}

.comment {
    background: white;
    margin: 5px 0 0 0 ;
}

.post {
    margin-left: 0px;
}

.span10 {
    margin-left: 0px;
    margin-right: 20px;
}
