body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.hero-unit h1 {
    font-size: 120px;
    line-height: 1;
    text-align: center;
}

.hero-unit {
    margin: 0 auto 20px;
}