<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Bulletin{% endblock title %}</title>
        <!-- Bootstrap -->
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="/static/css/site.css" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.flip.min.js"></script>
        
        <!-- Google Analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push([ '_setAccount', 'UA-36110349-1' ]);
			_gaq.push([ '_setDomainName', 'bulletinapp.net' ]);
			_gaq.push([ '_trackPageview' ]);
	
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl'
						: 'http://www')
						+ '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	
		{% block extrajs %}
	    {% endblock extrajs %}
    </body>
</html>
