<!DOCTYPE html>
<html>
    <head>
        <title>Bulletin</title>
        <!-- Bootstrap -->
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="/static/css/site.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="span5"><h2>Bulletin<small> catchy phrase here</small></h2></div>
            {% block username %}
            <!-- 
            Empty intentionally.  Should be filled w/ username by
            sub classes 
            -->
            {% endblock %}
        </div>
        <div id='main' class="container-fluid">
            <div class="span12">
                <div class="tabbable tabs-left row-fluid">
                    <ul id='tabs' class="nav nav-tabs span2">
                        {% block nav %}
                        <!-- 
                        If this is where you want to list all of the current user's groups in the active
                        session, then do so here, likely with a for loop.  This will not function, however
                        until we have properly working user logins.
                        -->
                        {% endblock %}
                    </ul>
                    <div id='content-container' class="tab-content span10">
                        <div class="tab-pane active">
		                    <!--<div id="announcement" class="hero-unit hero-unit-small">
		                        <h3>Announcement</h3>
		                        <p>
		                            Battle stations
		                        </p>
		                    </div>-->
		                    <div id="content">
			                    {% block content %}
			                    <p>No Content</p>
			                    {% endblock %}
		                    </div>
		                </div>
	                </div>
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
        <script>
        $('.tabs-left').children().each(function() {
            $(this).css("height", $(this).parent().css("height"));
        });
        
        $(document).ready(function() {
            // Find ALL <form> tags
            $('form').submit(function(){
                // On submit disable its submit button
                $('input[type=submit]', this).attr('disabled', 'disabled');
            });
        });
        </script>
    </body>
</html>
