{% load gravatar %}
<li id="post-{{ post.pk }}" class="media post well">
    <div class='avatar-container pull-left media-object'>
        <img class="avatar" src="{{ post.author.user.email|gravatar:'300' }}" alt="author's gravatar" />
    </div>
    <div class="media-body">
        <span class="media-heading">

            <abbr title="{{ post.author.user.email }}">
                <strong class="pull-left name">{{ post.author.user.first_name }} {{ post.author.user.last_name }}</strong>
            </abbr>

            
            <em class="pull-right"><abbr class="timeago" title="{{ post.time_stamp }}">{{ post.date_posted }}</abbr></em>
            <br />
        </span>
        <div class="post-message">{{ post.message }}</div>
        <ul class="media-list comments">
            <div class='triangle 
            {% if post.comment_set.all|length > 7 %}
                dark
            {% endif %}
            '></div>
            {% if post.comment_set.all %}
            {% if post.comment_set.all|length > 7 %}
                <a href="#show-comments" class='comment show_comments'><i class="icon-comments-alt"></i> Show all comments
                </a>
                <div class='hide hidden_comments'>
                {% for comment in post.comment_set.all %}
                {% include "group_comment.html" %}
                {% if forloop.revcounter0 == 5 %}
                </div>
                {% endif %}
             {% endfor %}
            {% else %}
                {% for comment in post.comment_set.all %}
                {% include "group_comment.html" %}
                {% endfor %}
            {% endif %}
            {% endif %}
<!--            <div class='discuss'><a href="javascript:void(0)" class="comment-unhide-btn">Comment</a></div>
-->            <div class="comment comment-form-container loading-spinner-container clearfix">
                <div class='comment-avatar-container pull-left'>
                    <img class="comment-avatar pull-left" src="{{ user.email|gravatar:'20' }}" alt="user's gravatar" />
                </div>
                <span class="pull-left name">{{ user.first_name }} {{ user.last_name }}:&nbsp</span>
                <form method="post" class="comment-form">
                    {% csrf_token %}
                    <input type="text" placeholder="Comment on this post" id="id_message" name="comment" class="pull-left comment-box" autocomplete="off" />
                    <input type="hidden" name="id_post" value="{{ post.pk }}" />
                    <input type="submit" value="Comment" class="btn pull-left btn-primary hide" />
                </form>
                <div class="loading-spinner hide"></div>
            </div>
        </ul>
    </div>
</li>