{% extends "index.html" %}

{# comment: load custom gravatar filter #}
{% load gravatar %}

{% block tabcontent %}
<form method="post" class="clearfix">
    <textarea class='input-block-level' placeholder='Communicate with your team...' id="id_message" rows="10" cols="40" name="message"></textarea>
	<input type="submit" value="Post" class='btn' />
    {% csrf_token %}
</form>

{% if post_list %}
    {% for post in post_list %}
    <div class="post clearfix">
        <p>
            <img class='avatar pull-left' src="{{ post.author.user.email|gravatar:'50' }}" alt="author's gravatar" />
            <span>
                <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong>
                <em class='pull-right'>{{ post.date_posted }}</em>
                <br />
            </span>
            {{ post.message }}
        </p>
        {% if post.comment_set.all %}
            {% for comment in post.comment_set.all %}
            <div class="comment">
                <p>
                    <img class='avatar pull-left' src="{{ comment.author.user.email|gravatar:'50' }}" alt="commenters's gravatar" />
                    <span>
                        <strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong>
                        <em class='pull-right'>{{ comment.date_posted }}</em>
                        <br />
                    </span>
                    {{ comment.message }}
                </p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}

{% else %}
    <div class='error'>
        No posts are available.
    </div>
{% endif %}

{% endblock %}
