{% extends "index.html" %}

{# comment: load custom gravatar filter #}
{% load gravatar %}

{% block nav %}
    <li><a href="/">Inbox</a></li>
    <li{% if grpid == "1" %} class="active" {% endif %}><a href="/group/1/">Group 1</a></li>
    <li{% if grpid == "2" %} class="active" {% endif %}><a href="/group/2/">Group 2</a></li>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.as_p }}
    <input type="submit" value="Post" />
</form>
{% if post_list %}

    {% for post in post_list %}
    <div class="post clearfix">
        <div class="span1 avatar">
            <div class="well well-small">
                <!--<img src="http://www.acme-articles.com/default_photo/profile.jpg" alt="author's avatar" />-->
                <img src="{{ post.author.email|gravatar:'50' }}" alt="author's gravatar" />
                <!-- gravatar filter takes user's eamil and img size as an argument -->
            </div>
        </div>
        <div class="span9 post">
            <div class="well well-small">
                <p>
                    <strong>{{ post.author }}</strong>
                    <em>{{ post.time_posted }}</em>
                </p>
                <p>{{ post.message }}</p>
                {% if post.comment_set.all %}
                    {% for comment in post.comment_set.all %}
                    <div class="well well-small comment">
                        <p>
                            <strong>{{ comment.author }}</strong>
                            <em>replied:</em>
                        </p>
                        <p>{{ comment.message }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}
