{% extends "base.html" %}

{% block body %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="row-fluid">
			<a class="span2" href="#top"><i id='jump-top'
			   class="icon-arrow-up hide"></i></a>
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar pull-left" data-toggle="collapse"
			   data-target=".nav-collapse"> <span class="icon-bar"></span> <span
			   class="icon-bar"></span> <span class="icon-bar"></span>
			</a>

			<!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand span8" href="/">Bulletin</a>

			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse collapse span2">
				{% block username %}
				<div class="pull-right">
				    <div id="self-identity" class="">Welcome, {{ user.first_name }} <br> <a href="#settings" class="">Settings</a> | <a href="/logout" class="">Logout</a></div>
				</div>
				{% endblock username %}
				<!-- .nav, .navbar-search, .navbar-form, etc -->
			</div>
		</div>
	</div>
</div>

{% block content %}
<div id="top" class="row-fluid">
	<div class="span10 offset1">
	<div class="span2">
		<div class="well">
			{% block nav %}
			<ul id="team-nav" class="nav nav-list">
			    <li {% if not grpid %} class="active" {% endif %} ><a href="/">Inbox</a></li>
			    <li class="nav-header">Groups</li>
			    {% for member in user.membership_set.all %}
			    <li {% ifequal grpid member.group.id %} class="active" {% endifequal %}>
			        <a href="/group/{{ member.group.id }}/">
			            {{ member.group.name }}
			        </a>
			    </li>
			    {% endfor %}
			    <li class="divider"></li>
			    <a id="group-create-btn" class="btn btn-block" href="/create"><i class="icon-plus"></i> New Group</a>
			</ul>
			{% endblock nav %}
		</div>
	</div>
	<div id="content-container" class="span10">
		<div class="hero-unit">
			<div id="content">
				{% block maincontent %}
				<p>No Content</p>
				{% endblock maincontent %}
			</div>
		</div>
		<div id="footer">This is a footer</div>
	</div>
	</div>
	<!--<div class="span2">
		<div class="well">
			{% block agenda %}
			<ul id='agenda' class="nav nav-list">
			    <li class="nav-header">Agenda</li>
			    <li class='divider'></li>
			</ul>
			{% endblock agenda %}
		</div>
	</div> -->
</div>
{% endblock content %}

{% endblock body %}
