{% load gravatar %}
<li class="media comment post-{{ post.pk }}">
    <div class='avatar-container pull-left media-object'>
        <img style="display: inline;"{# TODO remove #}
             class="avatar pull-left media-object"
             src="{{ comment.author.user.email|gravatar:'300' }}"
             alt="commenters's gravatar"
        />
    </div>
    <div class="media-body">
        <span class="media-heading">
            <abbr title="{{ comment.author.user.email }}">
                <strong class="pull-left name">{{ comment.author.user.first_name }} {{ comment.author.user.last_name }}</strong>
            </abbr>

            <em class="pull-right"><abbr class="timeago" title="{{ comment.time_stamp }}">{{ comment.date_posted }}</abbr></em>
            <br />
        </span>
        <div class="comment-message">{{ comment.message }}</div>
    </div>
</li>