<div id="remove-user-confirm" class="modal alert alert-block alert-error hide fade in">
    <p>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="alert-heading">Remove Member</h4>
    </p>
    <p>
        Are you sure about this?</p>
    <p>
        All posts and comments belonging to
        <strong id="user-name-here">USER NAME HERE</strong>
        will be gone FOREVER.
    <p>
        <button id="remove-user-btn" class="btn btn-danger">DELETE!</button>
        &nbsp;
        <button class="btn" data-dismiss="modal">Cancel</button>
    </p>
</div>