{% extends "group_base.html" %}

{# comment: load custom gravatar filter #}
{% load gravatar %}

{% block maincontent %}
<form id="post_form" method="post" class="well loading-spinner-container">
	<img class="pull-left" src="{{ user.email|gravatar:'60' }}" alt="user's gravatar" />
	<textarea class="input-block-level pull-left" placeholder="Communicate with your group..." id="id_message" rows="10" cols="40" name="message"></textarea>
	<input type="submit" value="Post" class="btn pull-right btn-primary" />
    {% csrf_token %}
    <div class="loading-spinner loading-spinner-32 hide"></div>
</form>

{% if post_list %}
<ul id="posts" class="media-list">
	{% if post_list.all|length > 7 %}
		{% for post in post_list %}	
			{% include "group_post.html" %}
			{% if forloop.counter == 5 %}
				<a href="#show-posts" class='well show_posts'><i class="icon-comment-alt"></i> Show more posts</a>
			<div class='hide hidden_posts'>
			{% endif %}
			{% if forloop.last %}
				</div>
				{% endif %}
			{% endfor %}
		{% else %}
		{% for post in post_list %}	
			{% include "group_post.html" %}
		{% endfor %}
	{% endif %}
</ul>
{% else %}
<div class="alert alert-warning">
    There are no posts in this group. Use the above form to create a post.
</div>
{% endif %}

{% endblock maincontent %}

{% block extrajs %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/md5.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timeago.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/group.js" type="text/javascript"></script>
{% endblock extrajs %}
