{% extends "base.html" %}

{# comment: load custom gravatar filter #}
{% load gravatar %}

{% block body %}
<div class="navbar">
    <div class="navbar-inner">
  	    <div class="container">
            <a class="brand" href="#">Bulletin</a>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="avatar pull-left" src="{{ user.email|gravatar:'30' }}" alt="author's gravatar" />
                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#change-password" data-toggle="modal">Change Password</a>
        	            <li><a href="/logout">Logout</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{% block content %}
<div id="top" class="row-fluid">
	<div class="container-narrow">
		<div id="left-column" class="span3 well">
			<div class="well">
				{% block nav %}
				<ul class="team-nav nav nav-list top">
				    <li {% if not group %} class="active" {% endif %} ><a href="/"><i class="icon-inbox"></i> Inbox</a></li>
				    <li class="nav-header">Groups</li>
				    {% for member in user.membership_set.all %}
				    <li {% ifequal group.pk member.group.id %} class="active" {% endifequal %}>
				        <a href="/group/{{ member.group.id }}/">
				            {{ member.group.name }}
				        </a>
				    </li>
					
				    {% endfor %}
				</ul>
				{% if group %}
						</div>
							
						<div>
							<ul class="nav nav-list members clearfix">
								<li class="nav-header">Group Members</li>
								{% for member in group.members.all %}
								<li class='member-container pull-left {% if is_admin and member == user %} current-user {% endif %}'>
									<abbr class="" title="{{ member.get_full_name }} ({{ member.get_full_name }})">
										<img memid="{{ member.pk }}" class="member-avatar pull-left clear-fix" src="{{ member.email|gravatar:'42' }}" alt="member's gravatar" /></abbr>
									<!--<div class="member-name" memid="{{ member.pk }}">
										<img class="pull-left clear-fix" src="{{ member.email|gravatar:'30' }}" alt="member's gravatar" />
										{{ member.get_full_name }}
									</div>-->
									{% if is_admin and member != user %}
									<i class="remove-btn remove-user icon-trash"></i></a>
									{% endif %}
								
								</li>
						
								{% endfor %}
							</ul>
						</div>
						{% if is_admin %}
						<ul id="invites" class="nav nav-list clearfix">
							{% if invites %}
								<span class="nav-header">Active Invites</span>
								{% for invite in invites %}
									<li>
									{% if invite.acceptance == 'P' %}
										<abbr class="" title="(Pending) {{ invite.recipient_email }}">
										<img memid="{{ invite.pk }}" class="member-avatar pull-left clear-fix pending" src="{{ invite.recipient_email|gravatar:'40' }}" alt="member's gravatar" />
										<i class="remove-btn remove-invite icon-remove"></i>
										</abbr>
									{% elif invite.acceptance == 'A' %}
									<abbr class="" title="(Accepted) {{ invite.recipient_email }}">
										<img memid="{{ invite.pk }}" class="member-avatar pull-left clear-fix pending" src="{{ invite.recipient_email|gravatar:'40' }}" alt="member's gravatar" />
									<i class="remove-btn remove-invite icon-remove"></i></abbr>
									{% else %}
									<abbr class="" title="(Rejected) {{ invite.recipient_email }}">
										<img memid="{{ invite.pk }}" class="member-avatar pull-left clear-fix pending" src="{{ invite.recipient_email|gravatar:'40' }}" alt="member's gravatar" />
									<i class="remove-btn remove-invite icon-remove"></i></abbr>
									{% endif %}
									</li>
								{% endfor %}
							{% endif %}
						</ul>
						<a href="#invite-people" class="invite-users clearfix" data-toggle="modal"><i class="icon-user"></i> Invite More People</a>
						{% endif %}
					<div class="well">
					{% endif %}
			    <a class="btn btn-block" href="#create-group" data-toggle="modal"><i class="icon-plus"></i> New Group</a>

                <!-- REMOVE THIS ASAP -->
                <style>
                    .remove-btn {
                        color: #777;
                        visibility: hidden;
                    }

                    li:hover .remove-btn {
                        visibility: visible;
                    }

                    .remove-btn:hover {
                        cursor: pointer;
                        color: red;
                    }

                    .btn {
                        margin-top: .5em;
                    }
				</style>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
				{% endblock nav %}
			</div>
		</div>
        <div class="row">
		<div id="content-container" class="span9">
			<div class="hero-unit">
				<div id="content">
					{% block maincontent %}
					<p>No Content</p>
					{% endblock maincontent %}
				</div>
			</div>
			<div id="footer" class="pull-right">Whitespace</div>
		</div>
        </div>
	</div>
</div>

{% if is_admin %}
    {% include "group_invite_modal.html" %}
    {% include "group_remove_member_modal.html" %}
{% endif %}
{% include "group_create_modal.html" with csrf_token=csrf_token only %}
{% include "password_change_modal.html" with csrf_token=csrf_token only %}

<div id="jump-top" class="hide well"><i class="icon-arrow-up"></i></div>
{% endblock content %}

{% endblock body %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/create-group.js"></script>
<script src="{{ STATIC_URL }}js/paragraph-filter.js"></script>
<script src="{{ STATIC_URL }}js/change-password.js"></script>
{% if is_admin %}<script src="{{ STATIC_URL }}js/group-invite.js"></script>{% endif %}
{% endblock extrajs %}
