{% load gravatar %}
<li class="media comment" post="{{ comment.post.pk }}">
    <div class='comment-avatar-container pull-left media-object'>
        <img class="comment-avatar pull-left media-object"
             src="{{ comment.author.user.email|gravatar:'20' }}"
             alt="commenters's gravatar"
        />
    </div>
    <div class="media-body">
        <span class="media-heading">
            <em class="hide"><abbr class="timeago pull-right" title="{{ comment.time_stamp }}">{{ comment.date_posted }}</abbr></em>
            <abbr title="{{ comment.author.user.email }}">
                <strong class="pull-left name">{{ comment.author.user.first_name }} {{ comment.author.user.last_name }}: </strong>
            </abbr>
        </span>
        <div class="comment-message">&nbsp{{ comment.message }}</div>
    </div>
</li>