{% extends "index.html" %}

{# comment: load custom gravatar filter #}
{% load gravatar %}

{% block content %}
<form method="post">{% csrf_token %}
    <p><textarea class='input-block-level' placeholder='Communicate with your team...' id="id_message" rows="10" cols="40" name="message"></textarea></p>
    <input type="submit" value="Post" class='btn' />
</form>
{% if post_list %}

    {% for post in post_list %}
    <div class="post clearfix">
        <div class="span1 avatar">
            <div class="well well-small">
                <!--<img src="http://www.acme-articles.com/default_photo/profile.jpg" alt="author's avatar" />-->
                <img src="{{ post.author.email|gravatar:'50' }}" alt="author's gravatar" />
                <!-- gravatar filter takes user's eamil and img size as an argument -->
            </div>
        </div>
        <div class="span9 post">
            <div class="well well-small">
                <p>
                    <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong>
                    <em>{{ post.date_posted }}</em>
                </p>
                <p>{{ post.message }}</p>
                {% if post.comment_set.all %}
                    {% for comment in post.comment_set.all %}
                    <div class="well well-small comment">
                        <p>
                            <strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong>
                            <em>replied on {{ comment.date_posted }}:</em>
                        </p>
                        <p>{{ comment.message }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}
