{% extends "group_base.html" %}

{# comment: load custom gravatar filter #}
{% load gravatar %}

{% block maincontent %}
{% if notifications %}
<ul id="notifications" class="media-list">
	{% if notifications.all|length > 7 %}
		{% for notification in notifications %}	
			{% include "inbox_notification.html" %}
			{% if forloop.counter == 5 %}
				<a href="javascript:void(0);" class="well well-small
                    show-notifications"><i class="icon-comment-alt"></i> Show more
                    notifications</a>
			    <div class="hide hidden-notifications">
			{% endif %}
			{% if forloop.last %}
				</div>
				{% endif %}
			{% endfor %}
    {% else %}
        {% for notification in notifications %}
            {% include "inbox_notification.html" %}
        {% endfor %}
	{% endif %}
</ul>
{% else %}
<div class="alert alert-warning">
    No updates
</div>
{% endif %}

{% endblock maincontent %}

{% block extrajs %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/md5.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timeago.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/inbox.js" type="text/javascript"></script>
{% endblock extrajs %}
