{% extends "base.html" %}

{% block username %}
<div class="span5 pull-right">
    <a href="/logout" class="btn pull-right">Logout</a>
    <div id="self-identity" class="pull-right">{{ user.first_name }} {{ user.last_name }} ({{ user.email }})</div>
</div>
{% endblock %}

{% block nav %}
    <li {% if not grpid %} class="active" {% endif %} ><a href="/">Inbox</a></li>
    {% for group in user.group_set.all %}
    <li {% ifequal grpid group.id %} class="active" {% endifequal %}>
        <a href="/group/{{ group.id }}">
            {{ group.name }}
        </a>
    </li>
    {% endfor %}
    <a class="btn btn-block" href="/create"><i class="icon-plus"></i> Create a group</a>
{% endblock %}
