{% extends "base.html" %}

{% block username %}
<a href="/logout"><div class="btn pull-right">Logout</div></a>
<div class="span2 pull-right">
    {{ user.first_name }} {{ user.last_name }} ({{ user.email }})
</div>
{% endblock %}

{% block nav %}
    <li class="active"><a href="/">Inbox</a></li>
    {% for group in user.group_set.all %}
        <li>
            <a href="/group/{{ group.id }}">{{ group.name }}</a>
        </li>
    {% endfor %}
    <li><a href="/create">+</a></li>
{% endblock %}
