{% extends "base.html" %}

{% block username %}
<div class="pull-right">
    <div id="self-identity" class="">Welcome, Peter{{ user.first_name }} <a href="#settings" class="">Settings</a> | <a href="/logout" class="">Logout</a></div>
</div>
{% endblock %}

{% block nav %}
<ul id='team-nav' class="nav nav-list">
    <li {% if not grpid %} class="active" {% endif %} ><a href="/">Inbox</a></li>
    <li class="nav-header">Teams</li>
    {% for member in user.membership_set.all %}
    <li {% ifequal grpid member.group.id %} class="active" {% endifequal %}>
        <a href="/group/{{ member.group.id }}/">
            {{ member.group.name }}
        </a>
    </li>
    {% endfor %}
    <li class='divider'></li>
    <a class="btn btn-block" href="/create"><i class="icon-plus"></i> New Team</a>
</ul>
{% endblock %}

{% block agenda %}
<ul id='agenda' class="nav nav-list">
    <li class="nav-header">Agenda</li>
    <li class='divider'></li>
</ul>
{% endblock %}

{% block tabcontent %}
<div class="well" style="text-align: center">
	<h1>inbox</h1>
	<p><em>coming soon</em></p>
</div>
{% endblock %}
