{% extends "starter_base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span7">
        <h3>Start communicating with your group today!</h3>
         <p>Bulletin is a collaboration tool for small, private groups.
       It enables anyone to quickly set up a space for private status updates and comments,
       which only the group members have access to, allowing quick and easy communication.
       As it grows, Bulletin will have more functionality to help groups get work done,
       like project agendas and task lists.</p>
    </div>
    <div class="span5 clearfix">
{#                <form id="register-form" class="form-signin well well-small loading-spinner-container clearfix hide" method="post">#}
{#                    {% csrf_token %}#}
{#                    <h2 class="form-signin-heading">Get started</h2>#}
{#                    {{ form }}#}
{#                    <input id="register-btn" class="btn btn-large btn-primary pull-left" type="submit" value="Register" />#}
{#                    <div class="loading-spinner hide"></div>#}
{#                </form>#}
        <div class="accordion well well-small" id="accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" id="Get started" data-parent="#accordion" href="#collapseOne">
                        <h3>Get started</h3>
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse {% if state == "" %}in{% endif %}">
                    <div class="accordion-inner">
                        <div id="register-form-container">
                            <form id="register-form" action="/register/" class="loading-spinner-container clearfix" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <input id="register-btn" class="btn btn-large btn-primary pull-left" type="submit" value="Register" />
                                <div class="loading-spinner loading-spinner-48 hide"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" id="Log in" data-parent="#accordion" href="#collapseTwo">
                        <h4><i class="icon-signin"></i> Log In</h4>
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse {% if state %}in{% endif %}">
                    <div class="accordion-inner">
                        <div class="login-form-container">
                            {% if state %}<h4>{{ state|safe }}</h4>{% endif %}
                            <form id="login-form" class="clearfix" method="post">
                                {% csrf_token %}
                                <input id="id_email" type="text" name="email" maxlength="40" class="input-block-level" placeholder="Email address">
                                <input id="id_password" type="password" name="password" maxlength="40" type="password" class="input-block-level" placeholder="Password">
                                <input class="submit-btn btn btn-large btn-primary pull-left" type="submit" value="Sign in" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/landing.js"></script>
<script src="{{ STATIC_URL }}js/register.js"></script>
{% endblock extrajs %}
