{% extends "simple-base.html" %}

{% block formtype %}
<form class="form-signin" method="post">{% csrf_token %}
		<h2 class="form-signin-heading">Please sign in</h2>
		<input id="id_email" type="text" name="email" maxlength="40" class="input-block-level" placeholder="Email address">
		<input id="id_password" type="password" name="password" maxlength="40" type="password" class="input-block-level" placeholder="Password">
	<!-- 			    <label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label> -->
		<button class="btn btn-large btn-primary" type="submit">Sign in</button>
		<a href='register'><button class="btn btn-large" type="button">Register</button></a>
		<a href='/about'><button class="btn btn-large pull-right" type="button">About</button></a>
	</form>
{% endblock %}
