<div id="change-password" class="modal hide fade">
    <form action="/change_password/" id="change-password-form" method="post">
        <div class="modal-header clearfix">
            <input type="button" class="close" data-dismiss="modal"
                aria-hidden="true" value="&times;" />
            <h3>Change your password</h3>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            {% if form %}
            {{ form.as_p }}
            {% else %}

            <input type="password" name="current_password" placeholder="Current Password" /><br />
            <input type="password" name="new_password1" placeholder="New Password" /><br />
            <input type="password" name="new_password2" placeholder="Confirm New Password" />
            {% endif %}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <input type="submit" id="change-password-btn" class="btn btn-primary" value="Change Password" />
        </div>
    </form>
</div>
