{% extends "starter_base.html" %}

{% block content %}
{% if password_changed %}
    <h2>Password successfully changed</h2>
    <p>Please check your email for a temporary password.</p>
    <p>Use it to sign in and then change your password.</p>
    <a href="/" class="back-btn btn btn-large pull-right">Back</a>
{% else %}
    <div id="accordion" class="well span8 offset2">
        <form id="reset-password-form" class="clearfix" method="post">
            {% csrf_token %}
            <h2>Please enter your email address</h2>
            <h4>{{ state }}</h4>
            <input id="id_email" type="text" name="email" maxlength="40" class="input-block-level" placeholder="Email address">
            <input id="reset-password-btn" class="submit-btn btn btn-large btn-primary pull-left" type="submit" value="Reset Password" />
            <a href="/" class="back-btn btn btn-large pull-right">Back</a>
        </form>
    </div>
{% endif %}
{% endblock content %}

{% block extrajs %}
<script src="{{ STATIC_URL }}js/reset-password.js"></script>
{% endblock extrajs %}