{% extends "base.html" %}

{% block head %}
<link href="{{ STATIC_URL }}css/starter.css" rel="stylesheet" />
{% endblock head %}

{% block body %}
    <br />
    <div id="starter-container" class="hero-unit clearfix row-fluid">
        <div class="clearfix container">
            <h1>Bulletin</h1>
            <hr />
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <div class="container">
        <span>Bulletin © 2012</span>
        <br />
        <span><a href="/about/">About Us</a></span>
    </div>
    <br />
{% endblock body %}