<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Bulletin{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div id="sidebar" class="tabs-left">
        <ul class="nav nav-tabs">
          {% block nav %}
          <li><a href="/prototype/">Inbox</a></li>
          <li><a href="/prototype/group/1/">Group 1</a></li>
          <li><a href="/prototype/group/2/">Group 2</a></li>
          {% endblock %}
        </ul>
      </div><!-- id="sidebar" -->
      <div id="content">
        {% block content %}
        <p>Content goes here</p>
        <p>I really hope this doesn't show up</p>
        {% endblock %}
      </div><!-- id="content" -->
    </div><!-- class="container" -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
