{% extends "prototype/base.html" %}

{% block nav %}
    <li><a href="/prototype/">Inbox</a></li>
    <li{% if grpid == "1" %} class="active" {% endif %}><a href="/prototype/group/1/">Group 1</a></li>
    <li{% if grpid == "2" %} class="active" {% endif %}><a href="/prototype/group/2/">Group 2</a></li>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.as_p }}
    <input type="submit" value="Post" />
</form>
{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li>
        {{ post }}
        {% if post.comment_set.all %}
            <ul>
            {% for comment in post.comment_set.all %}
                <li>{{ comment }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}
