{% extends "prototype/base.html" %}

{% block nav %}
    <li><a href="/prototype/">Inbox</a></li>
    <li{% if grpid == "1" %} class="active" {% endif %}><a href="/prototype/group/1/">Group 1</a></li>
    <li{% if grpid == "2" %} class="active" {% endif %}><a href="/prototype/group/2/">Group 2</a></li>
{% endblock %}

{% block content %}
<form method="post">
    {{ form.as_p }}
    <input type="submit" value="Post" />
</form>
{% if post_list %}
    {% for post in post_list %}
    <div class="post clearfix">
        <div class="span1 avatar">
            <div class="well well-small">
                avatar
            </div>
        </div>
        <div class="span9 post">
            <div class="well well-small">
                {{ post }}
                {% if post.comment_set.all %}
                    {% for comment in post.comment_set.all %}
                    <div class="well well-small comment">
                        {{ comment }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}
